<div class="position-fixed">
    <button data-handler = @Url.Action("Modal"+ViewBag.Section, "Home") class="btn btn-success" id="addBtn">Добавить</button>
    <button data-handler = @Url.Action("ModalEdit"+ViewBag.Section, "Home") class="btn btn-primary" id="editBtn">Изменить</button>
    <button data-handler = @Url.Action("Drop"+ViewBag.Section, "Home") class="btn btn-danger" id="dropBtn">Удалить</button>
</div
