
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>
OKVGU – программный модуль, предназначенный для ввода и редактирования данных, предназначенных для последующей генерации расписания учебного заведения.
Модуль состоит из двух основных частей, имеющих различные назначения:
–	форма работы с общими данными – необходима для описания исходных данных, на основании которых формируется описание семестров (к таким данным относится информация о преподавателях, предметах, группа и специальностях.
–	форма работы с семестрами – форма, предназначенная для заполнения информации, касающейся сочетания конкретного семестра и группы.
Работа с приложением выполняется с использованием нескольких основных действий:
–	переходы по формам, выполняемые с помощью нажатия на навигационные кнопки («OKVGU», «База данных», «Семестры»);
–	вывод данных на экран – выполняется с помощью выбора раздела данных («Преподаватели», «Группы», «Специальности», «Предметы») и выбора сочетания семестра и группы (относится к форме «Семестры»);
–	добавление данных – выполняется для некоторого набора, определённого в рабочей области, с помощью нажатия на кнопку «Добавить» и заполнения модального окна;
–	изменение данных – выполняется с помощью выбора на рабочей области некоторой записи, нажатия на кнопку «Изменить» и заполнения модального окна;
–	удаление данных – выполняется с помощью выбора записи, нажатия на кнопку «Удалить».
Предупреждение: возможен некорректный ввод данных.
Разработчик Прокопенков Даниил Сергеевич
Учащийся Оршанского колледжа ВГУ им. П.М. Машерова.


