@model IEnumerable<OKVGU.Models.Specialty>
@{
    ViewBag.Title = "Специальности";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Специальности</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Педагогическая
                        </th>
                    </tr>
                    @foreach (OKVGU.Models.Specialty spec in Model)
                    {
                        @Html.Partial("SpecTip", spec);
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 controlBtn">
            @Html.Partial("ControlBtn");
        </div>
    </div>
</div>
