@model IEnumerable<OKVGU.Models.Teacher>
@{
    ViewBag.Title = "Преподаватели";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Преподаватели</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Имя
                        </th>
                        <th>
                            Отчество
                        </th>
                        <th>
                            Администрация
                        </th>
                        <th>
                            Социальный работник
                        </th>
                        <th>
                            Годовая нагрузка
                        </th>
                    </tr>
            @foreach(OKVGU.Models.Teacher teacher in Model)
            {
                @Html.Partial("TeacherTip", teacher);
            }
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 controlBtn">
            @Html.Partial("ControlBtn");
        </div>
    </div>
</div>
